.DS_Store
.tools/
site/
public/
repo/build/
repo/sys-project/ip/bin/
repo/sys-project/ip/lib/
src/project/build/
src/project/.codex

*.o
*.d
*.elf
*.hex
*.vcd
*.fst
System.map
vmlinux
vmlinux.asm
Image
*:Zone.Identifier
